<div class="meteorite-info">
  Lat: {{circle.currentLat}}
  Lng: {{circle.currentLng}}
  Class: {{circle.currentLandingRecClass}}
  Mass: {{circle.currentLandingMass}}
  Name: {{circle.currentLandingName}}
  Year: {{circle.currentLandingYear}}
</div>
