{{#if circle.currentLat}}
  <div class="meteorite-info">
    <p>Lat  :      {{formatted-lat circle.currentLat}}</p>
    <p>Lng  :      {{formatted-lng circle.currentLng}}</p>
    <p>Class:      {{circle.currentLandingRecClass}}</p>
    <p>Mass :      {{circle.currentLandingMass}}</p>
    <p>Name :      {{circle.currentLandingName}}</p>
    <p>Year :      {{format-year circle.currentLandingYear}}</p>
    <p>More Info : <a href="http://www.lpi.usra.edu/meteor/metbull.php?sea={{circle.currentLandingName}}&sfor=names&ants=&falls=&valids=&stype=contains&lrec=50&map=ge&browse=&country=All&srt=name&categ=All&mblist=All&rect=&phot=&snew=0&pnt=Normal%20table">Here</a></p>
  </div>
{{/if}}
