<div class="meteorite-info">
  Lat: {{formatted-lat circle.currentLat}}
  Lng: {{formatted-lng circle.currentLng}}
  Class: {{circle.currentLandingRecClass}}
  Mass: {{circle.currentLandingMass}}
  Name: {{circle.currentLandingName}}
  Year: {{format-year circle.currentLandingYear}}
</div>
